@import 'base/_variables';
@import 'base/fonts';
@import 'base/base';

.grid {
    display: grid;
}
@import 'blocks/header';
@import 'blocks/portfolio';

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 $gutter;
}

.landing-section {
    padding: 80px 0;
    h2 {
        font-size: 34px;
        font-weight: 800;
        color: $dark;
        line-height: 1.2;
    }
}

@import 'blocks/ready';
@import 'blocks/search';
@import 'blocks/blog';
@import 'blocks/footer';
@import 'blocks/buttons';



